
.me {
    width: 300px;
    margin-top: 66px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.menu {
    background-color: #352F44;
}
.skillsss {
    padding: auto;
}
.skill-row {
    margin: auto;
    padding: 7px;
}
.name {
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.java {
    width: 5%;
    padding: 10px;  
}
.html {
    width: 5%;
    padding: 10px; 
}
.css {
    width: 5%;
    padding: 10px; 
}
.js {
    width: 5%;
    padding: 10px; 
}
section {
    padding-top: 80px; /* ปรับค่าตามความเหมาะสม */
    transition: padding-top 0.3s ease; /* เพิ่ม transition property สำหรับ padding-top */
}
.profile-picture {
    border-radius: 50%;
    max-width: 256px;
    margin-top: 80px;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Define global styles */
body {
    font-family: monospace;
}
.bar{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
}
.container {
    max-width: 974px;
    margin: 0 auto;
    padding: 20px;
}
em{
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}
p{
    margin: 0;
    text-align: center;
    font-family: monospace;
    font-size: 1.5em;
}
h1 {
    font-weight: bold;
    margin: 10px;
    font-family: 'Mitr', sans-serif;
    font-size: 2.5em;
}
h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
h3{
    font-weight: bold
}
.skill-row{
    margin: 100px auto;
    text-align: center;
}
.java{
    width:15%;

}
.C{
    width:25%;
}
.Python{
    width:25%;
}   
.node{
    width:25%;
}
.React.js{
    width:25%;
}
nav {
    position: fixed; /* กำหนดให้แถบนำติดตรงด้านบน */
    top: 0; /* ตำแหน่งด้านบนของหน้าเว็บ */
    left: 0; /* ตำแหน่งด้านซ้ายของหน้าเว็บ */
    width: 100%; /* ความกว้างเต็มหน้าเว็บ *//* สีพื้นหลังของแถบนำ */
    z-index: 100; /* กำหนดให้แถบนำอยู่บนสุด */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.container {
    max-width: 974px;
    margin: 0 auto;
    padding: 20px;
}
.container-header{
    text-align: center;
    max-width: 974px;
    margin: 0 auto;
    padding: 20px;
}
.container-contract{
    text-align: center;
    max-width: 974px;
    margin: 0 auto;
    padding: 20px;
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}